/*
Design fundaments - bits
- CLI look and feel.
- "Windows" provide the context for individual sections ("features" - map to api functions): about the user, post content, etc.
- Frames further encapsulate independent items inside feature
- Todo: registers.css (posts, list of posts, navigation-bar, visual indicator, transition between windows
- Todo: (cont) frames->content distribution syntax, transition at moving item selection
*/

/* Colors and Fonts */
body {
    background-color: #0a3d62; /* dark skyblue */
    color: #ffffff; /* white */
    font-family: Consolas, monospace;
    padding: 10px 5px;
}

main {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.d1 {
    font-size: 24em;
}

.h1 {
    font-size: 1.8em;
    color: #60a3bc;
}

.h2 {
    font-size: 1.6em;
}

.h3 {
    font-size: 1.4em;
}

.body {
    font-size: 1.2em;
}

/* Text Categories */
.keyword {
    font-weight: bold;
}

.subtle {
    color: #bbc9ce;
    font-weight: normal;
}

.readable {
    color: #ffffff; /* white */
}

.footnote {
    font-size: 1em;
    color: #b0b2af; /* light green */
}

/* Links and Buttons */
a, button, .click-me {
    font-size: 1em;
    color: #60a3bc; /* lighter blue */
    text-decoration: none;
    border: 1px solid #60a3bc;
    padding: 3px 5px;
}

a:hover, button:hover, .click-me:hover {
    color: #bbe8f2; /* light blue */
    border-color: #a9e1ee;
    border-width: 2px;
    cursor: pointer;
}

.option-selected {
    font-weight: bold;
    color: #0a3d62;
    background-color: #bbe8f2;
    padding: 3px 5px;
}


/* Frames */
.frame {
    border: 1px solid rgba(102, 212, 153, 0.2); /* light green */
}

/* Spacing Units */
.padding-medium {
    padding: 10px;
}

.padding-large {
    padding: 20px;
}

.padding-xlarge {
    padding: 20px 200px;
}

.margin-small {
    margin: 5px;
}

.margin-medium {
    margin: 10px;
}

.margin-large {
    margin: 20px;
}

/* Layout Structures */
.vertical-stack {
    display: flex;
    flex-direction: column;
}

.horizontal-items {
    display: flex;
    flex-direction: row;
}

/* Overlay Frames */
.overlay-frame {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    max-width: 70%;
    margin-left: 15%;
    margin-top: 25vh;
}

.overlay-film {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    cursor: pointer;
    background-color: rgba(31, 77, 101, 0.64);
}


/* Interaction Rules */
.vertical-stack .frame {
    margin-bottom: 10px;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.frame-selected {
    animation: fadeIn 10s;
}

.frame-hidden {
    animation: fadeOut 0.5s;
    display: none;
}

/* Documentation */
.doc {
    font-size: 0.9em;
    color: #b8e994; /* light green */
}
