@import './bits.css';
@import './registers.css';
@import './view.css';
#app {
  max-width: 1960px;
  margin: 0 auto;
  height: 100vh;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
  #app {
    padding: 0 2rem;
  }
}
